#topMenu {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: #2d2d2d;
	margin-bottom: 30px;
}

#topMenu ul {
	width: 100%;
	margin: 0 23%;
	padding: 10px 0;
}

#topMenu ul li {
	list-style: none;
	color: white;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#topMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
	color: red;
	background-color: #4d4d4d;
}